@import "reset";

input {
    width: 100%;
    padding: 16px 26px;
    margin-bottom: 30px;
    border: 1px solid  #000;
    border-radius: 20px;
  }

  .btn {
    display: inline-block;
    padding: .8em 2em;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
  
    &.btnPrimary {
      color: #ffffff;
      border: 1px solid #494ce8;
      background-color: #494ce8;
    }
  }