body {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.input {
  margin-top: 100px;
  width: 870px;
  height: 150px;
}

.board {
  margin-top: 50px;
  width: 870px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  background: rgb(93, 90, 90);
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  border-radius: 10px;
}

.fkay {
  background: rgb(30, 39, 49);
  text-transform: none;
  font-size: 24px;
}

.Backspace {
  width: 125px;
}

.Tab {
  width: 80px;
}

.CapsLock{
  width: 110px;
}

.Enter {
  width: 110px;
}

.shift {
  width: 110px;
}

.Space{
  width: 395px;
}

.active {
  background: rgb(35, 224, 10);
}
